{% extends "encyclopedia/layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <ul>
        {% for msg in messages %}
        <li>
            <div>{{msg.message}}</div>

        </li>

        {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Title: </label>
            {{create_form.title}}
        </div>

        <div class="form-group">
            <label>Content: </label>
            {{create_form.content}}
        </div>

        <input type="submit" value="Create">

    </form>
{% endblock %}
